<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title id="appTitle">exchange</title>
    <link rel="icon" id="appIcon" href="/static/favicon.ico" type="image/x-icon" />
    <script>
      if (localStorage.appConfig) {
        var config = JSON.parse(localStorage.appConfig)
        document.getElementById('appTitle').innerText = config.name
        document.getElementById('appIcon').href = config.titles_logo
      }
    </script>
    <!-- <link rel="stylesheet" href="assets/css/style.css"> -->

    <!-- index嵌入资源不是打包插入的，可以在全局直接使用
        htmlWebpackPlugin模板支持ejs语法 -->

    <!-- 加载bootstrap样式文件 -->
    <link rel="stylesheet" href="/static/css/bootstrap.min.css" />

    <!-- 加载ionicons样式文件 -->
    <link rel="stylesheet" href="/static/css/ionicons.min.css" />

    <!-- 加载jquery样式文件 -->
    <link rel="stylesheet" href="/static/css/jquery.mCustomScrollbar.min.css" />

    <script src="/static/Kline/charting_library/charting_library.min.js"></script>

    <!-- 加载swiper -->
    <link rel="stylesheet" href="/static/libs/swiper-5.3.8/package/css/swiper.min.css" />
    <script src="/static/libs/swiper-5.3.8/package/js/swiper.min.js"></script>
  </head>

  <body>
    <entry id="app"></entry>

    <script src="/static/libs/jquery-3.4.1.min.js"></script>
    <script src="/static/libs/popper.min.js"></script>
    <script src="/static/libs/bootstrap.min.js"></script>
    <script src="/static/libs/amcharts-core.min.js"></script>
    <script src="/static/libs/amcharts.min.js"></script>
    <script src="/static/libs/jquery.mCustomScrollbar.js"></script>
    <script src="/static/js/custom.js"></script>
    <script src="/static/libs/skroll.min.js"></script>
    <script src="https://cdn.bootcdn.net/ajax/libs/pako/1.0.9/pako.min.js"></script>
    <script>
      window.custom = 'light' // 默认主题

      var zbaseUrl = 'admin.tetherv.xyz'

      window.api_path = 'https://' + zbaseUrl + '/api/sliderVerify'
      window.ws_path = 'wss://' + zbaseUrl + '/ws1'

      // window.api_path = "<%= htmlWebpackPlugin.options.isProduct ? 'https://admin.vssdtd.com/api/sliderVerify' : 'https://admin.xqjv.site/api/sliderVerify' %>"
      // window.ws_path = "<%= htmlWebpackPlugin.options.isProduct ? 'wss://admin.vssdtd.com/ws1' : 'wss://admin.xqjv.site/ws1' %>"

      // 修改页面主题
      function changeSightSense() {
        const body = document.body,
          header = document.getElementById('common-header')

        if (body.id && body.id == 'dark') {
          body.removeAttribute('id')
          header.classList.replace('dark-bb', 'light-bb')
          custom = 'light'
        } else {
          body.setAttribute('id', 'dark')
          header.classList.replace('light-bb', 'dark-bb')
          custom = 'dark'
        }

        // 重新加载tradingView
        renderTV()
      }

      // 窗口内容加载完毕 初始化tv
      window.onload = function() {
        // renderTV();
      }
    </script>
  </body>
</html>
